/*
    Paleta de cores:

#000 background
#333233
#fee600
#ffff00
#ffff56
#ffff81

Fontes: 
    Constantia
    Georgia

*/

@font-face {
    font-family: 'League Spartan';
    src: url('./fontes/LeagueSpartan/LeagueSpartan-VariableFont_wght.ttf')
    format('truetype');
}

*{
    box-sizing: border-box; /* o padding e a borda são contados no tamanho definido */
    margin: 0;
    padding: 0;
}

body{
    background-color: #000;
    color: #fff;
}
header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 2px solid #ffff00;
    height: 20vh;
    width: 100vw;
    background-color: #0f0f0f;
}

.headerLogo a{    
    display: flex;
    flex-direction: row;
    align-items: center;
    text-decoration: none;
    color: white;
    font-family: Georgia, 'Times New Roman', Times, serif;
    width: 110%;
}

.headerLogo a img{
    width: 90px;
}
.headerLogo a h1{
    color: #ffff00;
    font-size: 28px;
}

header ul{
    display: flex;
    height: 100%;
    align-items: center;
    text-align: center;
    width: 60%;
    justify-content: space-around;
}

header ul li{
    list-style-type: none;
}
header ul li a{

    text-decoration: none;
    color: #fff;
    font-size: 19px;
    font-weight: bold;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

header ul li a:hover{
    color: #ffff81;
    text-decoration: underline;    

}

.pagAtual{
    color: #ffff00;
    text-decoration: underline;
}

.areaCliente{
    transition: transform 0.2s;
    background-color: #ffff00;
    border-radius: 10px; 
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    width: 27%;
    height: 30%;
    align-items: center;
    cursor: pointer;
}
.botaoAreaCliente{
    display: flex;
    margin-top: 9px;
    justify-content: center;
    align-items: center;
}
.botaoAreaCliente a {
    color: black;
}
.botaoAreaCliente a:hover{
    color: black;
}
.areaCliente:hover{
    text-decoration: none;
    transform: scale(110%, 110%);
}

.linksLogin{
    margin-top: 6%; 
    display: none;
    flex-direction: column;
    height: auto;
}

.linksLogin div{
    display: flex;
    border: 2px solid #333233;
    width: 100%;
    height: 5vh;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: transform 0.2s;
    background-color: #0f0f0f;
}

.linksLogin div:hover{
    transform: scale(110%, 110%);
    
}

.ultimoLink{
    border-radius: 0 0 10px 10px;
}

.hovers{
    display: flex;
    flex-direction: column;
    text-align: center;
    font-size: 30px;
    font-family: 'League Spartan', Georgia, 'Times New Roman', Times, serif;
}

/*CADASTRO*/

.container{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 80vh;
    background-color: #d9d9d9;
    background-image: url(./../img/site/fundoLoginCadastro/tecladoEmouse_ajustado.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size:cover;
}

.ultimoLinkLogin{
    border-radius: 0 0 10px 10px;
}

/* Estilização do título no container de cadastro */
.titleCad{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 300px;
    height: 40px;
    background-color: #1a1a1a;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: -50px;
    font-size: 25px;
    font-weight: bold;
    border-radius: 12px;
    font-family: 'League Spartan', Georgia, 'Times New Roman', Times, serif;
}

.cadastre {
    width: 660px;
    height: 55vh;
    padding: 20px;
    background-color: rgb(41,37,37, 0.6);
    border-radius: 10px;
    font-family: 'League Spartan', Georgia, 'Times New Roman', Times, serif;
}

.campo{
    position: relative;
    margin-top: 20px;
}

.cadastre input,
.cadastre button {
    width: 280px;
    padding: 10px;
    border-radius: 10px;
    border: none;
    margin-top: 10px;
    display: block;
    font-family: 'League Spartan', Georgia, 'Times New Roman', Times, serif;
}

#div_mensagem {
    color: #fbff00;
    margin-top: 10px;
    text-align: center;
}

h2 {
    text-align: center;
    color: #ffffff;
}

.formulario {
    display: flex;
    justify-content: space-between;
}

.card {
    justify-content: center;
    padding: 20px;
    height: 40vh;
    margin: auto;
}

.botao {
    display: flex;
    justify-content: center;
    position: relative;
    margin-top: 10px;
}

.botao button {
    margin: 5vh;
    height: 100%;
    width: 40%;
    background-color: #000;
    color: #fff;
    /* width: fit-content; */
    cursor: pointer;
    transition: color 0.6s, background-color 0.6s; /* Correção no tempo de transição */
}

.botao button:hover{
    background-color: #ffff00;
    color: #000;
    font-weight: bold;
}

.headerBarResp{
    display: none;
}

.burguer {
  position: relative;
  margin-top: 20px;
  display: none;
  width: 45px;
  height: 45px;
  margin-left: 15px;
  cursor: pointer;
  background-color: #ffff00;
  border-radius: 5%;
  justify-content: center;
  align-items: center;
  z-index: 0;
}

.burguer::before {
  content: '';
  width: 30px;
  height: 3px;
  position: absolute;
  background: #000;
  transform: translateY(-9px);
  transition: 0.5s;
  box-shadow: 0 9px 0 #000;
}

.burguer::after {
  margin-top: 37px;
  content: '';
  width: 30px;
  height: 3px;
  position: absolute;
  background: #000;
  transform: translateY(-9px);
  transition: 0.5s;
}

@media screen and (max-width: 800px) {
    .cadastre{
        margin-top: 80px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        height: 90%;
    }

    .burguer{
        display: flex;
    }

    .formulario{
        display: flex;
        flex-direction: column;
    }

    .card{
        margin-top: 0;
    }

    .headerBar{
        display: none;
    }

    .headerBarResp{
        position: absolute;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 50px;
        z-index: 1;
        width: 0%;
        right: 0;
        top: 0;
        background-color: #1a1a1a;
        height: 100%;
        overflow: hidden;
        transition: all 1s ease-in-out;
    }

    .headerBarResp a{
        text-decoration: none;
        outline: none;
        color: white;
    }

    .areaCliente{
        display: flex;
        flex-direction: column;
        /* transition: transform 0.2s; */
        border-radius: 10px;
        width: 55%;
        height: 30px;
        align-items: center;
        cursor: pointer;
        text-align: center;
    }

    .areaCliente a{
        font-size: 20px;
        color: #0f0f0f;
    }
}