/*
    Paleta de cores:

#000 background
#333233
#fee600
#ffff00
#ffff56
#ffff81

Fontes: 
    Constantia
    Georgia
    League Spartan 
*/

.sessaoLema{
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
    background-image: url(../img/site/fundoIndex/note_ajuste.jpg);
    background-size: cover;
    max-width: 100vw;
    height: 80vh;
}


.frasePrincipal{
    display: flex;
    color: #ffff00;
    justify-content: center;
    align-items: center;
    font-size: 60px;
    font-family: 'League Spartan', Georgia, 'Times New Roman', Times, serif;
    font-weight: bold;
}

.frases{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 40px;
    font-family: 'League Spartan', Georgia, 'Times New Roman', Times, serif;
    font-weight: bold;
}

.slogan{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 100vw;
    height: 100vh;
}

.metricas{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: #000;
    justify-items: center;
    width: 65%;git 
    height: 22%;
    border-radius: 10px;
    z-index: 1;
    position: absolute;
    top: 85%;
}

.quadrado{
    display: flex;
    flex-direction: column;
    text-align: center;
}

.numero {
    font-size: 60px;
    color:#ffff00;
    font-family: 'League Spartan', Georgia, 'Times New Roman', Times, serif;
}

.conteudo_metrica{
    font-family: 'League Spartan', Georgia, 'Times New Roman', Times, serif;
    font-size: 30px;
}

.separador{
    font-size: 100px;
}

.sessaoIndex{
    width: 100%;
    height: 100%;
    background-color: #fff;
    border-bottom: 2px solid #ffff00;
}

.titulo_sessao_index{
    font-size: 35px;
    font-weight: bold;
    color:#ffffff;
    text-align: center;
    margin-top: 2%;
    overflow-x: none;
    overflow-y: none;
    transform: rotate(-0.49turn);
    font-family: 'League Spartan', Georgia, 'Times New Roman', Times, serif;
}
.titulo_sessao_index2{
    font-size: 35px;
    font-weight: bold;
    color:#000000;
    text-align: center;
    margin-top: 2%;
    overflow-x: none;
    overflow-y: none;
    font-family: 'League Spartan', Georgia, 'Times New Roman', Times, serif;
}
.homem_trabalhador{
    display:flex;
    flex-direction: column;
    align-content: center;
}

.texto_problema{
    display:flex;
    flex-direction: column;
    justify-content: space-evenly;
    margin-top: 5%;
}

.jobiador{
    width: 400px;
    height: 400px;
}

.conteudo_problema{
    color:#000;
    font-size: 30px;
    text-align: center;
    font-family: 'League Spartan', Georgia, 'Times New Roman', Times, serif;
    padding: 3%;
}

.conteudo_solucao{
    color:#fff;
    font-size: 30px;
    text-align: center;
    font-family: 'League Spartan', Georgia, 'Times New Roman', Times, serif;
    margin-top: 7.5%;
    padding: 1%;
}

.foto_texto_sessaoIndex{
    display: flex;
    flex-direction: row;
    justify-content:space-between;
}

.solucao_index{
    display: flex;
    flex-direction: row;
    background-color: #000;
    justify-content:center;
    margin-top: 3.5%;
}

.trianguloRetangulo{
    background-color: #000;
    position: absolute;
    z-index: 1;
    width: 101%;
    height: 15vh;
    overflow-x: none;
    overflow-y: none;
    transform: rotate(0.49turn);
}

.logo{
    width: 250px;
    height: 250px;
    margin-top: 11%;
}

.titulo_logo {
    align-items: center;
    font-size: 30px;
    text-align: center;
    font-family: 'League Spartan', Georgia, 'Times New Roman', Times, serif;
}

.session_hovers{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #000;
}

.cards{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
    margin-top: 3%;
}

.hovers{
    display: flex;
    flex-direction: column;
    text-align: center;
    font-size: 30px;
    font-family: 'League Spartan', Georgia, 'Times New Roman', Times, serif;
    transition: transform .3s;
}

.hovers:hover{
    transform: scale(1.2);
    .cor_hover{
        background-color: #ffff00;
    }
}

.cor_hover{
    background-color: #fff;
}

.textos_cards{
    display: flex;
    background-color: #000;
    width: 80%;
    height: 30vh;
    justify-content: center;
    font-size: 30px;
    flex-direction: column;
    text-align: center;
    color: #fff;
    font-family: 'League Spartan', Georgia, 'Times New Roman', Times, serif;
}

.fotos_cards{
    width: 160px;
    height: 160px;
}



/* Aplicando responsividade dos títulos em computador desktop */
@media (min-width: 1024px){
    .frases span{
        font-size: 40px;
    }
    .frasePrincipal span{
        font-size: 60px;
    }
}

/* Aplicando responsividade dos títulos para celular */
@media (max-width: 600px){
    .frases span{
        font-size: 20px;
    }
    .frasePrincipal span{
        font-size: 30px;
    }
}