* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Tahoma, sans-serif;
}

input:focus {
  outline: none; /* Remove a borda de foco */
}

body {
  background-color: #d8d8c5;
  display: flex;
  flex-direction: row;
  height: 100vh; /* Ajustado para ocupar toda a altura da janela */
}

.sidebar {
  background-color: rgb(2, 2, 2);
  position: fixed;
  top: 0;
  left: 0;
  width: 200px; /* Largura fixa para a sidebar */
  height: 100vh; /* Altura total da janela */
  border-right: 1px solid #ffffff;
  font-family: 'Poppins';
  transition: all 0.3s ease; /* Transição suave */
  z-index: 100; /* Para garantir que a sidebar fique acima de outros elementos */
}


.icones{
  color: #fdfd4e;
  font-size: 35px;
  display: flex;
  justify-content: center;

}
.sidebar ul li a {
  text-decoration: none;
  color: black; /* Cor do texto */
  display: flex;
  align-items: center;
}

.sidebar ul li a .icon {
  margin-right: 10px; /* Espaçamento entre ícone e texto */
}
.logotipo img{
  width: 180px;
  height: 60px;
}
.sidebar ul li a .text {
  font-size: 18px;
}
a{
  text-decoration: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 40px
}
.text{
  text-decoration: none;
  color: #fdfd4e;
}
.texto_bem_vindo{
  font-size: 18px;
  display: flex;
  justify-content: center;
  color: #fdfd4e;
}
/* Estilo para o botão de hambúrguer */
.burguer {
  position: absolute;
  margin-top: 10px;
  display: flex;
  width: 45px;
  height: 45px;
  cursor: pointer;
  background-color: #ffff00;
  border-radius: 5%;
  justify-content: center;
  align-items: center;
}

.burguer::before,
.burguer::after {
  content: '';
  width: 30px;
  height: 3px;
  background: #000;
  position: absolute;
  transition: 0.5s;
}

.burguer::before {
  transform: translateY(-9px);
  box-shadow: 0 9px 0 #000;
}

.burguer::after {
  transform: translateY(9px);
}

.ativo::before {
  transform: translateY(0px) rotate(45deg);
  box-shadow: 0 0 0 #000;
}

.ativo::after {
  transform: translateY(0px) rotate(-45deg);
}

.containerSessoes {
  margin-left: 220px; /* Deixar espaço para a sidebar */
  padding: 20px;
  flex-grow: 1; /* Para ocupar o restante do espaço disponível */
}

/* Ajustes para os gráficos */
.grafico_teste {
  display: grid;
  grid-template-columns: repeat(2, 2fr);
  grid-template-rows: repeat(2, 290px);
  gap: 12px;
  width: 87%; /* Definindo uma largura para a área dos gráficos */
  margin: auto; /* Centralizando os gráficos */

}
.grafico_formatado{
  background-color:rgb(255, 255, 255);
  border-radius: 3%;
}
.grafico_teste canvas {
  width: 100% !important;
  height: 100% !important;
}

/* Responsividade */
@media (max-width: 768px) {
  .containerSessoes {
    margin-left: 0; /* Remove a margem esquerda em telas menores */
  }

  .grafico_teste {
    grid-template-columns: 1fr; /* Uma coluna em telas menores */
    grid-template-rows: repeat(4, 300px);
  }

  .sidebar {
    width: 100px; /* Reduz a largura da sidebar em telas menores */
  }
}

@media (max-width: 480px) {
  .grafico_teste {
    grid-template-rows: repeat(4, 250px);
  }
}
